.checkout-container-plus{
    margin: 20px 120px;
    .checkout-container{
   padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    .total{
        margin-left: auto;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        flex-direction: row-reverse;
    }
}

